body {
    
    background-color: hsl(0, 0%, 8%);
}

/* .container {
    display: flex;
    justify-content: center;
    align-content: center;    
} */   

.container-profile-box{
    height: 600px;
    width: 350px;
    position: absolute;
    top: 15%;
    left: 37.5%;
    bottom: 15%;
    border-radius: 7px;
    background-color: hsl(0, 0%, 20%);
}

/* .attribution{
    align-self: ;
} */